<%- include ./partials/head.ejs %>
<main id="creator">
<h1>De t-shirt creator!</h1>
<form>
	<label>
		Welke kleur shirt?
		<input type="radio" value="Zwart">
		<input type="radio" value="Wit">
		<input type="radio" value="Blauw">
		<input type="radio" value="Grijs">
	</label>
	<label>
	<input type="radio">
	</label>
</form>

<%- include ./partials/footer.ejs %>
