<html>
<head>
</head>
<body>
<main id="creator">
<h1>The t-shirt creator!</h1>

<p>You have created this shirt:</p>
<ul>
<% if(queries.shirtColor) { %>
<li>The t-shirt is <%= queries.shirtColor %></li>
<% } %>
<% if(queries.shirtColor) { %>
<li>Has a <%= queries.shirtNeck %>-neck.</li>
<% } %>
<% if(queries.shirtText) { %>
<li>Has the text: "<%= queries.shirtText %>" on it.</li>
<% } %>
</ul>
</main>
</body>
</html>
