<html>
<head></head>
<body><main>
  <form>
  <label>Type shirt:<br>
  <label><input type="radio" name="shirtColor" value="black"  <% if (queries.shirtColor == "black") { %> checked <% } %> >Black</label>
  <label><input type="radio" name="shirtColor" value="grey" <% if (queries.shirtColor == "grey") { %> checked <% } %> >Grey</label>
  <label><input type="radio" name="shirtColor" value="blue" <% if (queries.shirtColor == "blue") { %> checked <% } %> >Blue</label>
  </label><br><br><label>Hals:<br>
  <label><input type="radio" name="shirtNeck" value="v" <% if (queries.shirtNeck == "v") { %> checked <% } %> >V-neck</label>
  <label><input type="radio" name="shirtNeck" value="round" <% if (queries.shirtNeck == "round") { %> checked <% } %> >Round neck</label>
</label><br><br><label>Text on shirt:<br>
    <input type="text" name="shirtText" value="<%= queries.shirtText %>" placeholder="Text on shirt">
  </label><br><br><input type="submit" value="Save" formaction="/"><input type="submit" value="Submit" formaction="/creator">
</form>
</main></body>
</html>
