<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>T-shirt creator</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<header><h1>The t-shirt creator!</h1></header>
<body><main>
  <form>
    <fieldset>
    <legend>T-shirt</legend>
  <div><label>Shirt color
  <label><input type="color" name="shirtColor" value="<%= queries.shirtColor %>"/></label>
  </label></div>
  <div><label>Neck type
  <label><input type="radio" name="shirtNeck" value="v" <% if (queries.shirtNeck == "v") { %> checked <% } %> >V-neck</label>
  <label><input type="radio" name="shirtNeck" value="round" <% if (queries.shirtNeck == "round") { %> checked <% } %> >Round neck</label>
  </label>
</div>
  </fieldset>
  <fieldset>
  <legend>Customization</legend>
  <div><label>Text on shirt:
  <input type="text" name="shirtText" value="<%= queries.shirtText %>" placeholder="Text on shirt">
  </label>
</div>
<div>
  <label>
  Text color

    <input type="color" name="textColor" value="<%= queries.textColor %>"/></label>
</div>
<div>
  <label>Pattern

  <label><input type="radio" name="shirtPattern" value="dots"  <% if (queries.shirtPattern == "dots") { %> checked <% } %> >Dots</label>
  <label><input type="radio" name="shirtPattern" value="vertical stripes" <% if (queries.shirtPattern == "vertical stripes") { %> checked <% } %> >Vertical stripes</label>
  <label><input type="radio" name="shirtPattern" value="horizontal stripes" <% if (queries.shirtPattern == "horizontal stripes") { %> checked <% } %> >Horizontal stripes</label>
</label>
</div>
<div>
  <label>
    Pattern color

  <input type="color" name="patternColor" value="<%= queries.patternColor %>"/>
  </label>
</div>
  </fieldset>
  <div>
  <button type="submit" formaction="/">Save</button>  <button type="submit" value="Submit" formaction="/creator">Submit</button>
</div>
</form>
</main>
</body>
</html>
