body {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header {
  margin-bottom: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form {
  border-radius: 1em 0 0 1em;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #eee;
  padding: 2.5em;
  border-radius: 0 1em 1em 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: 1px solid black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer {
  background-color: #eee;
  border-radius: 2em 2em 0 0;
  padding: 1em;
}

footer h2 {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 1em;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  padding: 0 0.5em;
}

@media only screen and (max-width: 720px) {
  aside {
    display: none;
  }

  form {
    border-radius: 1em;
  }
}
