body {
  background-color: brown;
}

form {
  width: 640px;
}

label {
  padding: 1em;
  padding-right: 0;
}

input[type="text"] {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}
